#ALM
alm.dockerapp admpresales/alm:12.60

#Autopass
autopass.dockerapp admpresales/autopass:10.7.0

#AOS
#aos.dockerapp admpresales/aos.dockerapp:1.1.3.3
aos.dockerapp admpresales/aos.dockerapp:1.1.5

#DA - Deployment Automation
da.dockerapp admpresales/da.dockerapp:6.2.0

#DEVOPS
#devops.dockerapp admpresales/devops.dockerapp:1.1.5.0
#devops.dockerapp admpresales/devops.dockerapp:1.1.5.2
devops.dockerapp admpresales/devops.dockerapp:1.1.5.3

#INTELLIJ
#intellij.dockerapp admpresales/intellij.dockerapp:1.1.3.6
#intellij.dockerapp admpresales/intellij.dockerapp:1.1.5.1
intellij.dockerapp admpresales/intellij.dockerapp:1.1.5.4

#Mobile Center
mc.dockerapp admpresales/mc.dockerapp:2.80

#Service Virtualization
sv.dockerapp admpresales/sv.dockerapp:4.20

#OCTANE
#octane.dockerapp admpresales/octane.dockerapp:12.60.4.98
octane.dockerapp admpresales/octane.dockerapp:12.60.10.90
